* {
	margin: 0;
	padding: 0;
}
#app{
	width: 100%;
	margin: auto;
}
.logo {
	margin: auto;
	text-align: center;
	padding: 20px;
}
.logo>img{
	width: 300px;
}
.inserimento{
	margin: auto;
	text-align: center;
}
.todos-container{
	text-align: center;
	position: relative;
}
.todos-container img{
	width: 200px;
}
.todos-lista{
	width: 50%;
	margin: auto;
	line-height: 1.6;
}
.todos-lista li{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #00E165;
}
.todos-lista li i{
	padding-left: 8px;
}
.cestino li{
	text-decoration: line-through;
}
h2 {
	padding: 30px;
}
h3 {
	padding: 20px 0;
	padding-bottom: 50px;
	width: 50%;
	margin: auto;
	text-align: center;
}
